services:
  mongo:
    image: mongo:7
    container_name: ai_agent_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: ai_agent_redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
